{% extends 'base.html.twig' %}

{% block title %}Create new Author!{% endblock %}

{% block body %}

    <h1>Create new Author ✅</h1>
    <form action="{{path('author_store')}}" method="POST">
        Name:  <input type="text" name="author_name" value="{{aname}}"> 
        Surname:<input type="text" name="author_surname" value="{{asurname}}">
        <button type="submit"> Add new Author! </button>
        <input type="hidden" name="token" value="{{ csrf_token('create_author_bla') }}">
    </form>

{% endblock %}
