{% extends 'base.html.twig' %}

{% block title %}Books' list{% endblock %}

{% block body %}

    <h1>Books in Library</h1>

List:
    <ul>
    {% for book in books %}
    <li>
    {{book.title}} {{book.authorId}}
    <a href="{{path('book_edit',{id: book.id}) }}"> EDIT </a>
    <form action="{{path('book_delete',{id: book.id}) }}" method="POST"> 
    <button type="sumbit"> DELETE </button>
    </form> 

    </li>
    {% endfor %}
    </ul>
{% endblock %}
