@import "~bootstrap/scss/bootstrap";
body {
    background-color: lightgray;
}
.list-group-item{
    &__line{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        span{
            font-size: 24px;
            margin-top: 7px;
        }
        &__buttons{
            display: flex;
            .btn {
                margin: 7px;
            }
        }
    }
}
.list-group-item{
    &__button{
        display: flex;
        justify-content: space-between;
    }
}

.form-check-input.custom{
    margin-left: 15px;
}
.form-check.custom{
    padding-left: 0;
}

